<% if can? :manage, @property, @activity %>
<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <h4 class="text-secondary text-uppercase">
     Edit activity for:
      <div class="text-info">
        <%= @activity.property.address %>
      </div>
    </h4>
    <hr>
  </div>
</div>
<%=form_for(@activity, url: {action: "update_row", id_to_modify: @activity.id}, enctype: "multipart/form-data",method: :post) do |f| %>
  <div class="row mb-2">
    <div class="col-lg-3 offset-lg-3 mb-2">
      <label for="activity_type_id">
        Activity Type
      </label>
      <!-- <input type="text" id="activity_type_id" name="activity_type_id" class="form-control" value="<%= @activity.activity_type.title %>" > -->
     <%= select_tag(:activity_type_id, options_from_collection_for_select(ActivityType.order("title ASC").where(user_id: current_user.id), :id, :title, @activity.activity_type_id), :class => "form-control", :type => "text" ) %>
      </div>
    <!-- <div class="form-group">
      <input type="hidden" name="activity_type_id" class="form-control" value="<%= @activity.activity_type_id %>">
    </div> -->
    <div class="col-lg-3 mb-2">
      <label for="date">
        Date
      </label>
      <%= f.date_field :date, as: :date,  class: "form-control"%>
    </div>
  </div>
  <div class="row mb-2">
    <% if @activity.activity_type.contact_toggle == "Show" %>
      <div class="col-lg-4 offset-lg-3 mb-2">
        <label for="contact">
          Contact
        </label>
        <%= f.text_field :contact, :class => "form-control" %>
      </div>
    <% end %>
    <div class="col-lg-2 mb-0">
      <label for="duration">
        Time (minutes)
      </label>
      <%= f.number_field :duration, pattern: "\d*", class: "form-control" %>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-lg-6 offset-lg-3 mb-0">
      <label for="subject">
        Subject/Details
      </label>
      <%= f.text_area :subject, :class => "form-control", rows: "3" %>
    </div>
  </div>
  <% if @activity.activity_type.outcome_toggle == "Show" %>
    <div class="row">
      <div class="col-lg-6 offset-lg-3 mb-2">
        <label for="outcome">
          Outcome
        </label>
        <%= f.text_area :outcome, :class => "form-control", rows: "3" %>
      </div>
    </div>
  <% end %>
  <div class="row mb-3">
    <% if @activity.activity_type.agent_toggle == "Show" %>
      <div class="col-lg-3 offset-lg-3 mb-2">
        <label for="agent">
          Agent
        </label>
        <%= f.text_field :agent, :class => "form-control" %>
      </div>
    <% end %>
    <% if @activity.activity_type.customer_toggle == "Show" %>
      <div class="col-lg-3 mb-0">
        <label for="customer">
          Customer
        </label>
        <%= f.text_field :customer, :class => "form-control" %>
      </div>
    <% end %>
  </div>
  <% if @activity.activity_type.cost_toggle == "Show" %>
    <div class="row mb-3">
      <div class="col-lg-3 offset-lg-3">
        <label for="cost">
          Cost
        </label>
        <%= f.number_field :cost, pattern: "\d*", class: "form-control", placeholder: "optional" %>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.hidden_field :property_id, class: "form-control", value: @activity.property_id %>
  </div>
  <div class="row mb-3">
    <div class="col-lg-6 offset-lg-3">
      <%= f.submit "Save activity", class: "btn btn-block btn-outline-success" %>
      <!-- <button class="btn btn-block btn-outline-success">
        Save activity
      </button> -->
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <a href="/delete_activity/<%= @activity.id %>" data-confirm="Delete: Are you sure?" class="btn btn-block btn-outline-danger">
      Delete activity
    </a>
  </div>
</div>
<% end %>
