<% if can? :manage, @property, @activity %>
<div class="row">
  <div class="col-lg-4 offset-lg-2">
    <h4 class="text-secondary text-uppercase">
      Creating new activity for:
      <div class="text-info">
        <%= @activity.property.address %>
      </div>
    </h4>
    <hr>
  </div>
</div>


<form action="/update_activity/<%= @activity.id %>" method="post" enctype="multipart/form-data">

  <div class="row mb-2">
    <div class="col-lg-3 offset-lg-3 mb-2">
      <label for="activity_type_id">
        Activity Type
      </label>
      <input type="text" id="activity_type_id" name="activity_type_id" class="form-control" value="<%= @activity.activity_type.title %>" disabled>
    </div>

    <div class="form-group">
      <input type="hidden" name="activity_type_id" class="form-control" value="<%= @activity.activity_type_id %>">
    </div>

    <div class="col-lg-3 mb-2">
      <label for="date">
        Date
      </label>
      <input type="date" id="date" name="date" class="form-control" value="<%= @activity.date %>">
    </div>

  </div>


  <div class="row mb-2">

    <% if @activity.activity_type.contact_toggle == "Show" %>

      <div class="col-lg-4 offset-lg-3 mb-2">
        <label for="contact">
          Contact
        </label>
        <input type="text" id="contact" name="contact" class="form-control" value="<%= @activity.contact %>">
      </div>

    <% else %>
    <% end %>

    <div class="col-lg-2 mb-0">
      <label for="duration">
        Time (minutes)
      </label>
      <input type="number" pattern="\d*"/ id="duration" name="duration" class="form-control" value="<%= @activity.duration %>">
    </div>

  </div>

  <div class="row mb-3">

    <div class="col-lg-6 offset-lg-3 mb-0">
      <label for="subject">
        Subject/Details
      </label>
      <textarea id="detail" name="subject" class="form-control" type="text" rows="3" value="<%= @activity.detail %>"> <%= @activity.subject + ' ' + @activity.detail %></textarea>
    </div>

  </div>

  <% if @activity.activity_type.outcome_toggle == "Show" %>
    <div class="row">
      <div class="col-lg-6 offset-lg-3 mb-2">
        <label for="outcome">
          Outcome
        </label>
        <textarea id="outcome" name="outcome" class="form-control" type="text" rows="3" value="<%= @activity.outcome %>"></textarea>
      </div>
    </div>

  <% else %>
  <% end %>

    <div class="row mb-3">
  <% if @activity.activity_type.agent_toggle == "Show" %>

    <div class="col-lg-3 offset-lg-3 mb-2">
      <label for="agent">
        Agent
      </label>
      <input type="text" id="agent" name="agent" class="form-control" value="<%= @activity.agent %>">
    </div>

  <% else %>
  <% end %>

  <% if @activity.activity_type.customer_toggle == "Show" %>

    <div class="col-lg-3 mb-0">
      <label for="customer">
        Customer
      </label>
      <input type="text" id="customer" name="customer" class="form-control" value="<%= @activity.customer %>">
    </div>

  <% else %>
  <% end %>
</div>

  <% if @activity.activity_type.cost_toggle == "Show" %>
    <div class="row mb-3">
      <div class="col-lg-3 offset-lg-3">
        <label for="cost">
          Cost
        </label>
        <input type="number" pattern="\d*"/ id="cost" name="cost" class="form-control" value="<%= @activity.cost %>">
      </div>
    </div>
  <% else %>
  <% end %>



<div class="form-group">
  <input type="hidden" name="property_id" class="form-control" value="<%= @activity.property_id %>">
</div>

<div class="row mb-3">
  <div class="col-lg-6 offset-lg-3">
    <button class="btn btn-block btn-outline-success">
      Save activity
    </button>
  </div>
</div>

</form>

<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <a href="/delete_activity/<%= @activity.id %>" data-confirm="Delete: Are you sure?" class="btn btn-block btn-outline-danger">
      Delete activity
    </a>
  </div>
</div>
<% end %>
