<% if @buyer.errors.any? %>
  <% @buyer.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="row">
  <div class="col-lg-4 offset-lg-3">
    <h4 class="text-secondary text-uppercase">
      Edit buyer details
    </h4>
    <hr>
  </div>
  <div class="col-lg-2">
    <a href="/delete_buyer/<%= @buyer.id %>" class="btn btn-block btn-outline-danger">
      Delete Customer
    </a>
  </div>


</div>

<form action="/update_buyer/<%= @buyer.id %>" method="post">
  <div class="row">
    <div class="col-lg-2 offset-lg-3">
      <div class="form-group">
        <label for="listing_type">
          Customer Type
        </label>
        <%= select_tag(:buyer_type, options_for_select(["Buyer", "Tenant"], @buyer.buyer_type), :class => "form-control") %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="form-group">
        <label for="name">
          Customer Name
        </label>
        <input type="text" id="name" name="name" class="form-control" value="<%= @buyer.name %>">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 offset-lg-3">
      <div class="form-group">
        <label for="funds">
          Funds
        </label>
        <input type="text" id="funds" name="funds" class="form-control" value="<%= @buyer.funds %>">
      </div>
    </div>

    <div class="col-lg-3">
      <div class="form-group">
        <label for="downpayment">
          Downpayment
        </label>
        <input type="text" id="downpayment" name="downpayment" class="form-control" value="<%= @buyer.downpayment %>">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="form-group">
        <label for="preapproval">
          Preapproval?
        </label>
        <input type="text" id="preapproval" name="preapproval" class="form-control" value="<%= @buyer.preapproval %>">
      </div>


      <div class="form-group">
        <input type="hidden" name="user_id" class="form-control" value="<%= current_user.id %>">
      </div>

      <button class="btn btn-block btn-outline-success">
        Update Customer
      </button>
    </form>

    <hr>

    <a href="/buyers" class="btn btn-block btn-outline-secondary">
      Go back
    </a>
  </div>
</div>

