<% if @buyer.errors.any? %>
  <% @buyer.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <h4 class="text-secondary text-uppercase">
      Edit <%= @buyer.buyer_type %> Details
    </h4>
    <hr>
  </div>
</div>

<%=form_for(@buyer, url: {action: "update_row", id_to_modify: @buyer.id}, method: :post) do |f| %>


<div class="row mb-3">
  <div class="col-lg-6 offset-lg-3">
    <div class="form-group">
      <label for="name">
      <h5 class="font-weight-light">
        <%= @buyer.buyer_type %> Name
      </h5>
      </label>
      <%= f.text_field :name, :class => "form-control" %>
    </div>
  </div>
</div>

<div class="row">
<div class="col-lg-6 offset-lg-3 col-12">
  <div class="card bg-white mb-3">
   <div class="row mb-3">
    <div class="col-lg-12">

      <h5 class="card-header font-weight-light mb-3">
        Looking for:
      </h5>
      <div class="text-center">

        <label class="checkbox-inline">
          <% if @buyer.house == "on" %>
          <%= check_box("buyer", "house", { class: 'mr-1' }, "on", "off")  %>
          <% else %>
          <%= check_box("buyer", "house", { class: 'mr-1' }, "on", "off")  %>
          <% end %>
          <span class="mr-3">House</span>
        </label>
        <label class="checkbox-inline">
          <% if @buyer.condo == "on" %>
          <%= check_box("buyer", "condo", { class: 'mr-1' }, "on", "off")  %>
          <% else %>
          <%= check_box("buyer", "condo", { class: 'mr-1' }, "on", "off")  %>
          <% end %>

          <% if @buyer.buyer_type == "Buyer" %>
          <span class="mr-3">Condo / Townhouse</span>
          <% elsif @buyer.buyer_type == "Tenant" %>
          <span class="mr-3">Apartment / Condo / Townhouse</span>
          <% else %>
          <% end %>
        </label>

      </div>

    </div>
  </div>

    <div class="row mb-3">
    <div class="col-lg-3 offset-lg-3 col-5 offset-1">
      <label for="bed"> Bed </label>
      <%= select_tag(:bed, options_for_select(["1", "2","3","4","5","6+"], @buyer.bed), :class => "form-control") %>
    </div>
    <div class="col-lg-3 col-5">
      <label for="bed"> Bath </label>
      <%= select_tag(:bath, options_for_select(["1", "2","3","4","5","6+"], @buyer.bath), :class => "form-control") %>
    </div>
  </div>

  <div class="row mb-2">
      <div class="col-lg-3 offset-lg-3 col-5 offset-1">
        Price Range
      </div>
  </div>

  <div class="row">
     <div class="col-lg-3 offset-lg-3 col-5 offset-1">
      <div class="form-group">
        <%= f.text_field :price_min, :class => "form-control", placeholder: "min" %>
      </div>
    </div>
    <div class="col-lg-3 col-5">
      <div class="form-group">
        <%= f.text_field :price_max, :class => "form-control", placeholder: "max" %>
      </div>
    </div>
  </div>

    <div class="row mb-3">
    <div class="col-lg-10 offset-lg-1 col-12">

      <h6 class="font-weight-light mb-3 text-center">
        Must have:
      </h6>
      <div class="text-center">
        <label class="checkbox-inline">
          <% if @buyer.wd == "on" %>
          <%= check_box("buyer", "wd", { class: 'mr-1' }, "on", "off")  %>
          <% else %>
          <%= check_box("buyer", "wd", { class: 'mr-1' }, "on", "off")  %>
          <% end %>
          <span class="mr-3">Unit W/D</span>
        </label>
        <label class="checkbox-inline">
          <% if @buyer.parking == "on" %>
          <%= check_box("buyer", "parking", { class: 'mr-1' }, "on", "off")  %>
          <% else %>
          <%= check_box("buyer", "parking", { class: 'mr-1' }, "on", "off")  %>
          <% end %>
          <span class="mr-3">Parking</span>
        </label>
        <label class="checkbox-inline">
          <% if @buyer.garage == "on" %>
          <%= check_box("buyer", "garage", { class: 'mr-1' }, "on", "off")  %>
          <% else %>
          <%= check_box("buyer", "garage", { class: 'mr-1' }, "on", "off")  %>
          <% end %>
          <span class="mr-3">Garage</span>
        </label>
      </div>
      <div class="text-center">
        <label class="checkbox-inline">
          <% if @buyer.balcony == "on" %>
          <%= check_box("buyer", "balcony", { class: 'mr-1' }, "on", "off")  %>
          <% else %>
          <%= check_box("buyer", "balcony", { class: 'mr-1' }, "on", "off")  %>
          <% end %>
          <span class="mr-3">Balcony</span>
        </label>
        <label class="checkbox-inline">
          <% if @buyer.pool == "on" %>
          <%= check_box("buyer", "pool", { class: 'mr-1' }, "on", "off")  %>
          <% else %>
          <%= check_box("buyer", "pool", { class: 'mr-1' }, "on", "off")  %>
          <% end %>
          <span class="">Pool</span>
        </label>
      </div>

    </div>
  </div>
  </div>
</div>
</div>

      <% if @buyer.buyer_type == "Buyer" %>

<div class="row">
  <div class="col-lg-2 offset-lg-3 col-6 col-md-6">
    <div class="form-group">
      <h5 class="font-weight-light">
      <label for="funds">
        Type of Funds
      </label>
      </h5>
      <%= select_tag(:funds, options_for_select(["","Financing", "Cash", "Not sure"], @buyer.funds), :class => "form-control") %>
    </div>
  </div>

    <div class="col-xl-2 col-lg-2 col-6 col-md-6">
      <div class="form-group">
        <h5 class="font-weight-light">
        <label for="preapproval">
          Preapproval?
        </label>
        </h5>
        <%= select_tag(:preapproval, options_for_select(["","Yes", "No", "Not sure"], @buyer.preapproval), :class => "form-control") %>
      </div>
    </div>

    <div class="col-lg-2 col-6">
      <div class="form-group">
        <h5 class="font-weight-light">
        <label for="downpayment">
          Downpayment
        </label>
        </h5>
        <%= f.text_field :downpayment, :class => "form-control", placeholder: "%" %>
      </div>
    </div>
  </div>

  <% else %>
  <% end %>

<% if @buyer.status == "Active" or @buyer.status == "" %>

<div class="row mb-1">
  <div class="col-lg-3 offset-lg-3 col-12">
    <form action="/add_buyer_to_archive/<%= @buyer.id %>" method="post">
      <button class="btn btn-block btn-outline-warning mb-3">
        Archive Customer
      </button>
    </form>
  </div>

  <div class="col-lg-3">
    <p class="text-secondary text-center">
      Archived Customers will be saved on the <a href="/archive"> Archive </a> page for future reference.
      All activity information will be saved with the customer.
    </p>
  </div>
</div>

<% else %>

<div class="row mb-3">
  <div class="col-lg-3 offset-lg-3">
    <form action="/restore_buyer_from_archive/<%= @buyer.id %>" method="post">
      <button class="btn btn-block btn-outline-success">
        Restore Customer
      </button>
    </form>
  </div>

  <div class="col-lg-3">
    <p class="text-secondary text-center">
      Restored Customers will be moved out of the archive and back to your active customers.
    </p>
  </div>
</div>

<% end %>

<% if @buyer.buyer_activities.count == 0 %>

  <div class="row mb-3">
    <div class="col-lg-6 offset-lg-3">
      <hr>
      <a href="/delete_buyer/<%= @buyer.id %>" class="btn btn-block btn-outline-danger">
        Delete Customer
      </a>
    </div>
  </div>

<% else %>

  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <hr>
    </div>
  </div>

   <div class="row mb-3">
    <div class="col-lg-3 offset-lg-3">
      <a href="/delete_buyer/<%= @buyer.id %>" class="btn disabled btn-block btn-outline-secondary mb-2">
        Delete Customer
      </a>
    </div>

    <div class="col-lg-3">
      <p class="text-secondary text-center">
        You can only delete a customer that does not contain any activities.
      </p>
    </div>
  </div>

<% end %>
