<div class="row mb-3">
  <div class="col-md-6 offset-md-2">
    <h5 class="text-info text-left text-uppercase mb-0">
      <%= @buyer.name %>
    </h5>
    <div>
      <%= @buyer.buyer_type %> looking for <%= @buyer.bed == nil ? "" : "#{@buyer.bed} bed(s), " %> <%= @buyer.bath == nil ? "" : "#{@buyer.bath} bath(s), " %> <%= @buyer.house == "on" ? "House" : "" %> <%= @buyer.condo == "on" && @buyer.house == "on" ? "or" : "" %> <%= @buyer.condo == "on" ? "Condo / Townhouse" : "" %>
    </div>
    <div>
      Price Range: <%= @buyer.price_min.blank? ? "0" : @buyer.price_min %>  to <%= @buyer.price_max %>
    </div>

    
  </div>

  <div class="col-md-2">
    <a href="../buyers/<%=@buyer.id%>/report.pdf" class="btn btn-block btn-outline-secondary">
      Generate Report
    </a>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <a href="/buyer_activities/new/<%= @buyer.id %>" class="btn btn-block btn-outline-secondary">
      Add Activity
    </a>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">

    <div class="list-group">
      <% @buyer.buyer_activities.order(date: :desc).each do |buyer_activity| %>

        <a href="../buyer_activities/<%= buyer_activity.id %>/" class="list-group-item list-group-item-action">
          <div class="row">
            <div class="col text-center">
              <%= buyer_activity.buyer_activity_type.title %>
            </div>
            <div class="col text-center">
              <%= buyer_activity.property_address %>
            </div>
            <div class="col text-center">
              <%= buyer_activity.date.strftime("%b %d")  %>
            </div>

          </div>
        </a>
      <% end  %>
    </div>


  </div>
</div>



<div class="row mb-3">
  <div class="col-md-8 offset-md-2">

    <div class="row mb-3">
      <div class="col">
        <a href="/buyers/<%= @buyer.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit Customer Details
        </a>
        <a href="/buyers" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>
    </div>

  </div>
</div>
