<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <h4 class="text-info text-uppercase">
      Feedback
    </h4>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 offset-lg-3">

    <div class="text-center font-weight-light">
      This page is for all your questions, concerns and suggestions. Please tell us how we can make 
      Track Your Listing better. To ask a question directly please email us at info@trackyourlisting.com.
    </div>
    <hr>

  </div>
</div>

<div class="row mb-3">
  <div class="col-lg-6 offset-lg-3">

    <form action="/create_comment" method="post">

      <div class="form-group">
        <input type="hidden" name="user_id" class="form-control" value="<%= current_user.id %>">
      </div>

      <div class="form-group">
        <textarea id="body" name="body" class="form-control" rows="2" placeholder="Leave us a comment"></textarea>
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Submit
      </button>
    </form>

  </div>
</div>


<% @comments.order('created_at DESC').each do |comment| %>
  <div class="row mb-2">
    <div class="col-lg-6 offset-lg-3">

      <% if comment.user_id == current_user.id %>
        <div class="card" style="background-color: #e6f2ff" id="card<%= comment.id %>">
        <% else %>
          <div class="card bg-light" id="card<%= comment.id %>">
          <% end %>

          <div class="card-body">
            <ul class="list-inline">
              <% if comment.user_id == current_user.id %>
                <li class="list-inline-item text-dark font-weight-bold"><%= comment.user.first_name %></li>
              <% else %>
                <li class="list-inline-item text-dark font-weight-bold"><%= comment.user.first_name %></li>
              <% end %>
              <li class="list-inline-item"><%= comment.body %></li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-8">

            <% i = Like.find_by({ :user_id => current_user.id, :comment_id => comment.id }) %>
            <% if i == nil   %>
              <p class="mt-0 mb-0 pt-0 pb-0">
                <small>
                  <span>
                    <form action="/create_like" method="post" class="">
                      <input type="hidden" name="comment_id" value="<%= comment.id %>">
                      <input type="hidden" name="user_id" value="<%= current_user.id %>">
                      <button class="btn btn-sm btn-link text-info pb-2 pr-0">
                        Like
                      </button>
                    </form>
                  </span>
                <% else %>
                  <p  class="mt-0 mb-0 pt-0 pb-0">
                    <small>
                      <span>
                        <form action="/delete_like/<%= i.id %>" method="post" class="">
                          <button class="btn btn-sm btn-link text-info font-weight-bold pb-2 pr-0">
                            Like
                          </button>
                        </form>
                      </span>
                    <% end %>

                    <% @time = comment.created_at - 18000 %>

                    <span> - <%= @time.strftime("%b %d at %I:%M %p") %>
                    </span>
                  </small>
                </p>
              </div>

              <div class="col-4 pl-2 text-secondary text-right">

                <% if comment.user_id == current_user.id %>
                  <span class="text-secondary font-sm">
                    <a class="text-danger" href="/delete_comment/<%= comment.id %>" ><small>Delete</small></a> - 
                  </span>
                <% else %>
                <% end %>

                <% if i == nil   %>
                  <span class="fas fa-thumbs-up"></span>
                  <span class="badge badge-secondary">
                    <%= comment.likes.count %>
                  </span>
                <% else %>
                  <span class="fas fa-thumbs-up text-success"></span>
                  <span class="badge badge-success">
                    <%= comment.likes.count %>
                  </span>
                <% end %>

              </div>
            </div>

            <% comment.replies.each do |reply| %>
              <div class="row">
                <div class="col-8 offset-4">
                  <% if reply.user_id == 3 %>
                      <div class="card" style="background-color: #DCF8C7" id="card<%= reply.id %>">
                    <% else %>
                      <div class="card bg-light" id="card<%= reply.id %>">
                      <% end %>

                      <div class="card-body">
                        <ul class="list-inline">
                          <li class="list-inline-item text-dark font-weight-bold"><%= reply.user.first_name %></li>
                          <li class="list-inline-item"><%= reply.body %></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-4 offset-8 text-right mb-4">
                    <% if current_user.id == 3 %>
                      <a class="text-danger" href="/delete_reply/<%= reply.id %>" ><small>Delete</small></a>
                    <% else %>
                    <% end %>
                  </div>
                </div>

              <% end %>
            </div>
          </div>
        <% end %>
