<div class="row mb-0">
  <div class="col-lg-6 offset-lg-3">
    <h5 class="text-info text-left text-uppercase mb-0">
      Price Change
    </h5>
    <hr>
  </div>
</div>


  <%=form_for(@price, url: create_price_path(@price), enctype: "multipart/form-data") do |f| %>

  <div class="form-group">
    <%= f.hidden_field :property_id, class: "form-control", value: @property_id %>
  </div>

  <div class="row mb-0">
    <div class="col-lg-3 offset-lg-3 col-6">
      <div class="form-group">
        <label for="date">
          Date
        </label>
        <%= f.date_field :date, as: :date, value: Date.current.strftime('%Y-%m-%d'), class: "form-control"%>
      </div>
    </div>
    <div class="col-lg-3 col-6">
      <div class="form-group">
        <label for="amount">
          Amount
        </label>
        <%= f.text_field :amount, :class => "form-control" %>
      </div>
    </div>
  </div>

  <div class="row mb-0">
    <div class="col-lg-6 offset-lg-3">
      <div class="form-group">
        <label for="detail">
          Detail
        </label>
        <%= f.text_area :detail, :class => "form-control", rows: "3", placeholder: "original listing price, reduction ... etc" %>
      </div>
    </div>
  </div>

  <div class="row mb-0">
    <div class="col-lg-6 offset-lg-3">
      <!-- <button class="btn btn-block btn-outline-success">
        Save price
      </button> -->
      <%= f.submit "Save price", class: "btn btn-block btn-outline-success" %>
      <% end %>


    <hr>

    <a href="/properties/prices/<%= @property_id %>" class="btn btn-block btn-outline-secondary">
      Go back
    </a>

  </div>
</div>
