
<div class="row">
  <div class="offset-md-3 col-md-6">
    <div class="card mb-3">
      <h5 class="card-header">
        Password Change
      </h5>
      <div class="card-body">
      <%= form_for(@user, :url => { :action => "update_password" } ) do |f| %>
          <% if @user.errors.any? %>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          <% end %>
          <% if flash[:notice].present? %>
            <div class="alert alert-info" role="alert">
              <%= flash[:notice] %>
            </div>
          <% end %>

          <% if flash[:alert].present? %>
            <div class="alert alert-danger" role="alert">
              <%= flash[:alert] %>
            </div>
          <% end %>
          <div class="form-group">
            <%= f.label :current_password %>
            <%= f.password_field :current_password, class: "form-control", autocomplete: "off" %>
          </div>
          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
          </div>
          <%= f.submit "Update", class: "btn btn-block btn-outline-primary" %>
        <% end %>
        <div class="row mt-3">
          <div class="col-12">
          <%= link_to "Go Back", :back, class: "btn btn-block btn-outline-secondary" %>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $('.check-for-exist').hide();
</script>
