<div class="row">
  <div class="col-lg-8 offset-lg-2">

    <h1>
      Edit activity type
    </h1>
    <hr>
    <%=form_for(@activity_type, url: {action: "update_row", id_to_modify: @activity_type.id}, method: :post) do |f| %>


      <div class="form-group">
        <%= f.hidden_field :user_id, class: "form-control", value: current_user.id %>
      </div>

      <div class="form-group">
        <label for="title">
          Title
        </label>
        <%= f.text_field :title, :class => "form-control" %>
      </div>

      <div class="row mb-2">

        <div class="col-lg-3">
          <label for="duration_toggle">
            Duration (min)
          </label>
          <%= select_tag(duration_toggle, options_for_select(["Show", "Hide"], @activity_type.duration_toggle), :class => "form-control") %>
        </div>

        <div class="col-lg-3">
          <label for="cost_toggle">
            Cost ($)
          </label>
          <%= select_tag(:cost_toggle, options_for_select(["Show", "Hide"], @activity_type.cost_toggle), :class => "form-control") %>
        </div>

        <div class="col-lg-3">
          <label for="contact_toggle">
            Contact
          </label>
          <%= select_tag(:contact_toggle, options_for_select(["Show", "Hide"], @activity_type.contact_toggle), :class => "form-control") %>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-lg-3">
          <label for="detail_toggle">
            Details
          </label>
          <%= select_tag(:detail_toggle, options_for_select(["Show", "Hide"], @activity_type.detail_toggle), :class => "form-control") %>
        </div>

        <div class="col-lg-3">
          <label for="outcome_toggle">
            Outcome
          </label>
          <%= select_tag(:outcome_toggle, options_for_select(["Show", "Hide"], @activity_type.outcome_toggle), :class => "form-control") %>
        </div>

        <div class="col-lg-3">
          <label for="subject_toggle">
            Subject
          </label>
          <%= select_tag(:subject_toggle, options_for_select(["Show", "Hide"], @activity_type.subject_toggle), :class => "form-control") %>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-lg-3">
          <label for="agent_toggle">
            Agent
          </label>
          <%= select_tag(:agent_toggle, options_for_select(["Show", "Hide"], @activity_type.agent_toggle), :class => "form-control") %>
        </div>

        <div class="col-lg-3">
          <label for="customer_toggle">
            Customer
          </label>
          <%= select_tag(:customer_toggle, options_for_select(["Show", "Hide"], @activity_type.customer_toggle), :class => "form-control") %>
        </div>
      </div>

      <%= f.submit "Edit activity type", class: "btn btn-block btn-outline-success" %>
      <!-- <button class="btn btn-block btn-outline-secondary">
        Edit activity type
      </button> -->
  <% end %>

    <hr>

    <a href="/activity_types">
      Go back
    </a>

  </div>
</div>
