<div class="row mb-3">
  <div class="col-lg-8 offset-lg-2">
    <h5 class="text-info text-uppercase">
      Manage Property Activity Types
    </h5>
    <hr>
  </div>
</div>

<div class="row mb-2">
  <div class="col-lg-8 offset-lg-2">

    <div class="text-center font-weight-light">
    This allows you to customize what fields are shown for your activity types.
    To enable a field, toggle that field to "Show" in the specific actitivity type.
    In order to delete a type there must not be any activities associated with that type.
    </div>
    <hr>

  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">


    <div class="accordion" id="accordionExample">
      <% current_user.activity_types.order(created_at: :desc).each do |type| %>

        <%=form_for(type, url: {action: "update_row", id_to_modify: type.id}, method: :post) do |f| %>
          <div class="card bg-white border-white">
            <div class="card-header bg-white " id="heading<%= type.id %>">
              <h2 class="mb-0">
                <button class="btn btn-outline-info btn-block remove-loader" type="button" data-toggle="collapse" data-target="#collapse<%= type.id %>" aria-expanded="true" aria-controls="collapse<%= type.id %>">
                  <%= type.title %>
                </button>
              </h2>
            </div>

            <div id="collapse<%= type.id %>" class="collapse remove-loader" aria-labelledby="heading<%= type.id %>" data-parent="#accordionExample">
              <div class="card-body">

                <div class="row mb-2">
                  <div class="col-6">
                    <div class="form-group">
                      <label for="title">
                        Title
                      </label>
                      <%= f.text_field :title, :class => "form-control" %>
                    </div>
                  </div>
                  <div class="col-6">

                    <% if type.activities.count == 0 %>

                      <div><br>
                      </div>
                      <a href="/delete_activity_type/<%= type.id %>/">
                        <button type="button" class="btn btn-outline-danger btn-block mt-2 text-uppercase">Delete</button>
                      </a>

                    <% else %>
                      <div><br>
                      </div>
                      <a href="/delete_activity_type/<%= type.id %>/">
                        <button type="button" class="btn btn-outline-secondary btn-block mt-2 text-uppercase" disabled>Delete</button>
                      </a>
                    <% end %>
                  </div>
                </div>

                <div class = "row mb-2">
                  <div class="form-group">
                      <%= f.hidden_field :user_id, class: "form-control", value: current_user.id %>
                      <%= f.hidden_field :subject_toggle, class: "form-control", value: "Show" %>
                      <%= f.hidden_field :contact_toggle, class: "form-control", value: "Show" %>
                      <%= f.hidden_field :duration_toggle, class: "form-control", value: "Show" %>
                      <%= f.hidden_field :cost_toggle, class: "form-control", value: "Show" %>
                      <%= f.hidden_field :detail_toggle, class: "form-control", value: "Hide" %>
                      <%= f.hidden_field :outcome_toggle, class: "form-control", value: "Hide" %>
                      <%= f.hidden_field :agent_toggle, class: "form-control", value: "Hide" %>
                      <%= f.hidden_field :customer_toggle, class: "form-control", value: "Hide" %>
                      <input type="hidden" name="flyer_img_toggle" class="form-control" value="Hide">
                      <input type="hidden" name="postcard_img_toggle" class="form-control" value="Hide">

                    </div>
                </div>
                <%= f.submit "Save", class: "btn btn-block btn-outline-success" %>
                <!-- <button class="btn btn-block btn-outline-success">
                  Save
                </button> -->
              </div>

            </div>
          </div>

        <% end %>

      <% end %>

    </div>

  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <a href="/activity_types/new" class="btn btn-block btn-outline-secondary">
      Add a new activity type
    </a>
  </div>
</div>
