<div class="row mb-3">
  <div class="col-lg-8 offset-lg-2">
    <h5 class="text-info text-uppercase">
      Manage Property Activity Types
    </h5>
    <hr>
  </div>
</div>

<div class="row mb-2">
  <div class="col-lg-8 offset-lg-2">

    <div class="text-center font-weight-light">
    This allows you to customize what fields are shown for your activity types. 
    To enable a field, toggle that field to "Show" in the specific actitivity type.
    In order to delete a type there must not be any activities associated with that type.
    </div>
    <hr>

  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">


    <div class="accordion" id="accordionExample">
      <% current_user.activity_types.order(created_at: :desc).each do |type| %>

        <form action="/update_activity_type/<%= type.id %>" method="post">
          <div class="card bg-white border-white">
            <div class="card-header bg-white " id="heading<%= type.id %>">
              <h2 class="mb-0">
                <button class="btn btn-outline-info btn-block" type="button" data-toggle="collapse" data-target="#collapse<%= type.id %>" aria-expanded="true" aria-controls="collapse<%= type.id %>">
                  <%= type.title %>
                </button>
              </h2>
            </div>

            <div id="collapse<%= type.id %>" class="collapse" aria-labelledby="heading<%= type.id %>" data-parent="#accordionExample">
              <div class="card-body">

                <div class="row mb-2">
                  <div class="col-6">
                    <div class="form-group">
                      <label for="title">
                        Title
                      </label>
                      <input type="text" id="title" name="title" class="form-control" value="<%= type.title %>">
                    </div>
                  </div>
                  <div class="col-6">

                    <% if type.activities.count == 0 %>

                      <div><br>
                      </div>
                      <a href="/delete_activity_type/<%= type.id %>/">
                        <button type="button" class="btn btn-outline-danger btn-block mt-2 text-uppercase">Delete</button>
                      </a>

                    <% else %>
                      <div><br>
                      </div>
                      <a href="/delete_activity_type/<%= type.id %>/">
                        <button type="button" class="btn btn-outline-secondary btn-block mt-2 text-uppercase" disabled>Delete</button>
                      </a>
                    <% end %>
                  </div>
                </div>

                <div class = "row mb-2">
                  <div class="form-group">
                    <input type="hidden" name="user_id" class="form-control" value="<%= current_user.id %>">
                    <input type="hidden" name="subject_toggle" class="form-control" value="<%= type.subject_toggle %>">
                    <input type="hidden" name="contact_toggle" class="form-control" value="<%= type.contact_toggle %>">
                    <input type="hidden" name="duration_toggle" class="form-control" value="<%= type.duration_toggle %>">
                    <input type="hidden" name="cost_toggle" class="form-control" value="<%= type.cost_toggle %>">                 
                    <input type="hidden" name="detail_toggle" class="form-control" value="<%= type.detail_toggle %>">
                    <input type="hidden" name="outcome_toggle" class="form-control" value="<%= type.outcome_toggle %>">                  
                    <input type="hidden" name="agent_toggle" class="form-control" value="<%= type.agent_toggle %>">              
                    <input type="hidden" name="customer_toggle" class="form-control" value="<%= type.customer_toggle %>">              
                    <input type="hidden" name="flyer_img_toggle" class="form-control" value="Hide">
                    <input type="hidden" name="postcard_img_toggle" class="form-control" value="Hide">

                    </div>
                </div>
                
                <button class="btn btn-block btn-outline-success">
                  Save
                </button>
              </div>

            </div>
          </div>

        </form>

      <% end %>

    </div>

  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <a href="/activity_types/new" class="btn btn-block btn-outline-secondary">
      Add a new activity type
    </a>
  </div>
</div>
