<!-- Validation failure messages -->
<% if @activity_type.present? %>
  <% if @activity_type.errors.any? %>
    <% @activity_type.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <h4 class="text-uppercase text-secondary">
      Add a new activity type
    </h4>
    <hr>
  </div>
</div>
<form action="/create_activity_type" method="post">
  
<div class = "row">
  <div class="col-lg-8 offset-lg-2">

    <div class="form-group">
      <label for="title">
        Title
      </label>
      <input type="text" id="title" name="title" class="form-control">
    </div>

  </div>
</div>

  <div class="form-group">
    <input type="hidden" name="user_id" class="form-control" value="<%= current_user.id %>">
  </div>

  <div class="row">
    <div class="col-lg-8 offset-lg-2">

      <div class = "row mb-2">

        <div class="col-lg-3 col-6 col-sm-6">
          Subject
          <%= select_tag(:subject_toggle, options_for_select(["Show", "Hide"]), :class => "form-control") %>
        </div>
        <div class="col-lg-3 col-6 col-sm-6">
          Contact
          <%= select_tag(:contact_toggle, options_for_select(["Show", "Hide"]), :class => "form-control") %>
        </div>
        <div class="col-lg-3 col-6 col-sm-6">
          Duration
          <%= select_tag(:duration_toggle, options_for_select(["Show", "Hide"]), :class => "form-control") %>
        </div>
        <div class="col-lg-3 col-6 col-sm-6">
          Cost
          <%= select_tag(:cost_toggle, options_for_select(["Show", "Hide"]), :class => "form-control") %>
        </div>


      </div>

      <div class = "row mb-2">

        <div class="col-lg-3 col-6 col-sm-6">
          Details
          <%= select_tag(:detail_toggle, options_for_select(["Show", "Hide"]), :class => "form-control") %>
        </div>
        <div class="col-lg-3 col-6 col-sm-6">
          Outcome
          <%= select_tag(:outcome_toggle, options_for_select(["Show", "Hide"]), :class => "form-control") %>
        </div>
        <div class="col-lg-3 col-6 col-sm-6">
          Agent
          <%= select_tag(:agent_toggle, options_for_select(["Show", "Hide"]), :class => "form-control") %>
        </div>
        <div class="col-lg-3 col-6 col-sm-6">
          Customer
          <%= select_tag(:customer_toggle, options_for_select(["Show", "Hide"]), :class => "form-control") %>
        </div>
      </div>


      <div class = "row mb-3">
        <div class="col-lg-3 offset-lg-3 col-6 col-sm-6">
          Flyer Image
          <%= select_tag(:flyer_img_toggle, options_for_select(["Show", "Hide"]), :class => "form-control") %>
        </div>
        <div class="col-lg-3 col-6 col-sm-6">
          Postcard Image
          <%= select_tag(:postcard_img_toggle, options_for_select(["Show", "Hide"]), :class => "form-control") %>
        </div>
      </div>

      <button class="btn btn-block btn-outline-success">
        Save
      </button>

    </form>
    <hr>

    <a href="/activity_types">
      Go back
    </a>

  </div>
</div>
