<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Activity type #<%= @activity_type.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/activity_types" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/activity_types/<%= @activity_type.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit activity type
        </a>
      </div>

      <div class="col">
        <a href="/delete_activity_type/<%= @activity_type.id %>" class="btn btn-block btn-outline-secondary">
          Delete activity type
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @activity_type.title %>
      </dd>

      <dt>
        Cost toggle
      </dt>
      <dd>
        <%= @activity_type.cost_toggle %>
      </dd>

      <dt>
        Duration toggle
      </dt>
      <dd>
        <%= @activity_type.duration_toggle %>
      </dd>

      <dt>
        Detail toggle
      </dt>
      <dd>
        <%= @activity_type.detail_toggle %>
      </dd>

      <dt>
        Outcome toggle
      </dt>
      <dd>
        <%= @activity_type.outcome_toggle %>
      </dd>

      <dt>
        Contact toggle
      </dt>
      <dd>
        <%= @activity_type.contact_toggle %>
      </dd>

      <dt>
        Flyer img toggle
      </dt>
      <dd>
        <%= @activity_type.flyer_img_toggle %>
      </dd>

      <dt>
        Postcard img toggle
      </dt>
      <dd>
        <%= @activity_type.postcard_img_toggle %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@activity_type.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@activity_type.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

