<div class="row">
  <div class="col-lg-8 offset-lg-2">

    <h4 class="text-uppercase text-secondary">
      Edit activity type
    </h4>
    <hr>
    <%=form_for(@buyer_activity_type, url: {action: "update_row", id_to_modify: @buyer_activity_type.id}, method: :post) do |f| %>

      <div class="form-group">
        <%= f.hidden_field :user_id, class: "form-control", value: current_user.id %>
      </div>

      <div class="form-group">
        <label for="title">
          Title
        </label>
        <%= f.text_field :title, :class => "form-control" %>
      </div>

      <div class="row mb-2">

        <div class="col-lg-3">
          <label for="length_toggle">
            Duration (min)
          </label>
          <%= select_tag(:duration_toggle, options_for_select(["Show", "Hide"], @buyer_activity_type.duration_toggle), :class => "form-control") %>
        </div>

        <div class="col-lg-3">
          <label for="cost_toggle">
            Property Address
          </label>
          <%= select_tag(:property_address_toggle, options_for_select(["Show", "Hide"], @buyer_activity_type.property_address_toggle), :class => "form-control") %>
        </div>

        <div class="col-lg-3">
          <label for="zipcode_toggle">
            Zipcode
          </label>
          <%= select_tag(:zipcode_toggle, options_for_select(["Show", "Hide"], @buyer_activity_type.zipcode_toggle), :class => "form-control") %>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-lg-3">
          <label for="detail_toggle">
            Details
          </label>
          <%= select_tag(:detail_toggle, options_for_select(["Show", "Hide"], @buyer_activity_type.detail_toggle), :class => "form-control") %>
        </div>

        <div class="col-lg-3">
          <label for="comment_toggle">
            Comment
          </label>
          <%= select_tag(:comment_toggle, options_for_select(["Show", "Hide"], @buyer_activity_type.comment_toggle), :class => "form-control") %>
        </div>

        <div class="col-lg-3">
          <label for="subject_toggle">
            Subject
          </label>
          <%= select_tag(:subject_toggle, options_for_select(["Show", "Hide"], @buyer_activity_type.subject_toggle), :class => "form-control") %>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-lg-3">
          <label for="agent_toggle">
            Agent
          </label>
          <%= select_tag(:agent_toggle, options_for_select(["Show", "Hide"], @buyer_activity_type.agent_toggle), :class => "form-control") %>
        </div>

        <div class="col-lg-3">
          <label for="image_toggle">
            Image
          </label>
          <%= select_tag(:image_toggle, options_for_select(["Show", "Hide"], @buyer_activity_type.image_toggle), :class => "form-control") %>
        </div>
      </div>

      <%= f.submit "Edit activity type", class: "btn btn-block btn-outline-secondary" %>
      <!-- <button class="btn btn-block btn-outline-secondary">
        Edit activity type
      </button> -->
    <% end %>

    <hr>

    <a href="/activity_types">
      Go back
    </a>

  </div>
</div>
