<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h4 class="text-secondary text-uppercase">
      Manage Customer Activity Types
    </h4>
    <hr>
  </div>
</div>

<div class="row mb-2">
  <div class="col-lg-8 offset-lg-2">

    <div class="text-center font-weight-light">
    This allows you to customize what fields are shown for your activity types.
    To enable a field, toggle that field to "Show" in the specific actitivity type.
    In order to delete a type there must not be any activities associated with that type.
    </div>
    <hr>

  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">


    <div class="accordion" id="accordionExample">
      <% current_user.buyer_activity_types.order(created_at: :desc).each do |type| %>


          <%=form_for(type, url: {action: "update_row", id_to_modify: type.id}, method: :post) do |f| %>
          <div class="card bg-white border-white">
            <div class="card-header bg-white " id="heading<%= type.id %>">
              <h2 class="mb-0">
                <button class="btn btn-outline-info btn-block remove-loader" type="button" data-toggle="collapse" data-target="#collapse<%= type.id %>" aria-expanded="true" aria-controls="collapse<%= type.id %>">
                  <%= type.title %>
                </button>
              </h2>
            </div>
            <div id="collapse<%= type.id %>" class="collapse" aria-labelledby="heading<%= type.id %>" data-parent="#accordionExample">
              <div class="card-body">

                <div class="row mb-2">
                  <div class="col-6">
                    <div class="form-group">
                      <label for="title">
                        Title
                      </label>
                      <%= f.text_field :title, :class => "form-control" %>
                    </div>
                  </div>

                  <div class="col-6">

                    <% if type.buyer_activities.count == 0 %>

                      <div><br>
                      </div>
                      <a href="/delete_buyer_activity_type/<%= type.id %>/">
                        <button type="button" class="btn btn-outline-danger btn-block mt-2 text-uppercase">Delete</button>
                      </a>


                    <% else %>
                      <div><br>
                      </div>
                      <a href="/delete_activity_type/<%= type.id %>/">
                        <button type="button" class="btn btn-outline-secondary btn-block mt-2 text-uppercase" disabled>Delete</button>
                      </a>
                    <% end %>

                  </div>
                </div>

                <div class = "row mb-1">
                  <div class="form-group">
                    <%= f.hidden_field :user_id, class: "form-control", value: current_user.id %>
                  </div>

                  <div class="col-lg-3 col-6 col-sm-6 mb-1">
                    Subject
                    <%= select_tag(:subject_toggle, options_for_select(["Show", "Hide"], type.subject_toggle), :class => "form-control") %>
                  </div>
                  <div class="col-lg-3 col-6 col-sm-6 mb-1">
                    Duration
                    <%= select_tag(:duration_toggle, options_for_select(["Show", "Hide"], type.duration_toggle), :class => "form-control") %>
                  </div>
                  <div class="col-lg-3 col-6 col-sm-6 mb-1">
                    Property Address
                    <%= select_tag(:property_address_toggle, options_for_select(["Show", "Hide"], type.property_address_toggle), :class => "form-control") %>
                  </div>
                  <div class="col-lg-3 col-6 col-sm-6 mb-1">
                    City
                    <%= select_tag(:city_toggle, options_for_select(["Show", "Hide"], type.city_toggle), :class => "form-control") %>
                  </div>
                </div>
                <div class = "row mb-3">
                  <div class="col-lg-3 col-6 col-sm-6 mb-1">
                    Details
                    <%= select_tag(:detail_toggle, options_for_select(["Show", "Hide"], type.detail_toggle), :class => "form-control") %>
                  </div>
                  <div class="col-lg-3 col-6 col-sm-6 mb-1">
                    Comments
                    <%= select_tag(:comment_toggle, options_for_select(["Show", "Hide"], type.comment_toggle), :class => "form-control") %>
                  </div>
                  <div class="col-lg-3 col-6 col-sm-6 mb-1">
                    Agent
                    <%= select_tag(:agent_toggle, options_for_select(["Show", "Hide"], type.agent_toggle), :class => "form-control") %>
                  </div>
                  <div class="col-lg-3 col-6 col-sm-6 mb-1">
                    Image
                    <%= select_tag(:image_toggle, options_for_select(["Show", "Hide"], type.image_toggle), :class => "form-control") %>
                  </div>
                </div>
                <%= f.submit "Save", class: "btn btn-block btn-outline-secondary" %>
                <!-- <button class="btn btn-block btn-outline-success">
                  Save
                </button> -->
              </div>

            </div>
          </div>

        <% end %>

      <% end %>

    </div>

  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <a href="/buyer_activity_types/new" class="btn btn-block btn-outline-secondary">
      Add a new activity type
    </a>
  </div>
</div>
