<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <h4 class="text-uppercase text-secondary">
      Edit Activity Details
    </h4>
    <hr>
  </div>
</div>

<form action="/update_buyer_activity/<%= @buyer_activity.id %>" method="post" enctype="multipart/form-data">

  <div class="row mb-2">
    <div class="col-lg-4 offset-lg-3 mb-2">
      <label for="buyer_activity_type_id">
        Activity Type            
      </label>
    <%= select_tag(:buyer_activity_type_id, options_from_collection_for_select(BuyerActivityType.order("title ASC").where(user_id: current_user.id), :id, :title, @buyer_activity.buyer_activity_type.id), :class => "form-control", :prompt => "Select type" ) %>    
    
    <a href="/buyer_activity_types/new" class="">
        Add a type 
    </a>
    </div>
    <div class="col-lg-2 mb-2">
      <label for="date">
        Date
      </label>
      <input type="date" id="date" name="date" class="form-control" value="<%= @buyer_activity.date %>">
    </div>

  </div>

    <div class="form-group">
      <input type="hidden" name="buyer_activity_type_id" class="form-control" value="<%= @buyer_activity.buyer_activity_type_id %>">
    </div>
    
     <div class="row mb-2">

      <div class="col-lg-4 offset-lg-3 mb-2">
        <label for="agent">
          Contact            
        </label>
        <input type="text" id="agent" name="agent" class="form-control" value="<%= @buyer_activity.agent %>">
      </div>

    <div class="col-lg-2 mb-0">
      <label for="duration">
        Time (minutes)            
      </label>
      <input type="number" pattern="\d*"/ id="duration" name="duration" class="form-control" value="<%= @buyer_activity.duration %>">
    </div>

  </div>
  
      <div class="row">
      <div class="offset-lg-3 col-lg-6 mb-3">
        <div class="mb-2">Subject/Detail</div>            
        <textarea id="detail" name="detail" class="form-control mt-2" rows="3"><%= @buyer_activity.detail %></textarea>
      </div>
    </div>
    
  <div id="accordion" class="col-lg-6 offset-lg-3 px-1">
    <div class="card">
      <div class="card-header" id="headingTwo">
          
            <h5 class="font-weight-light mb-0"> Property</h5>

      </div>

      <div class="card-body">
        <div class="row mb-2">
          <div class="col-lg-12">
          <label class="mb-1">
          Street Address            
          </label>
        <input type="text" id="property_address" name="property_address" class="form-control" value="<%= @buyer_activity.property_address %>" >
      </div>
    </div>


    <div class="row">
      <div class="col-lg-6 mb-0">
        <div class="mb-1">
          City            
        </div>
        <input type="text" id="city" name="city" class="form-control mb-2" value="<%= @buyer_activity.city %>" >
      </div>

      <div class="form-group col-lg-2 col-4">
        <div class="mb-1">
          State            
        </div>
        <input type="text" id="state" name="state" class="form-control" value="<%= @buyer_activity.state %>" >
      </div>

      <div class="form-group col-lg-4 col-8">
        <div class="mb-1">
          Zipcode            
        </div>
        <input type="text" id="zipcode" name="zipcode" class="form-control" value="<%= @buyer_activity.zipcode %>" >
      </div>
    </div>
        
      </div>

  </div>
  </div>
  
  <% if @buyer_activity.buyer_activity_type.property_address_toggle == "Show" %>



  <% else %>
  <% end %>



  <div class="form-group">
    <input type="hidden" name="buyer_id" class="form-control" value="<%= @buyer_activity.buyer_id %>">
  </div>


  <div class="row">
    <div class="col-lg-6 offset-lg-3">
  <hr>
      <button class="btn btn-block btn-lg btn-outline-success">
        Save activity
      </button>
    </div>
  </div>
</form>