<div class="row">
  <div class="col-md-8 offset-md-2">
    <h4 class="text-uppercase text-secondary">
      Activity Details
    </h4>
    <hr>
  </div>
</div>

<form action="/update_buyer_activity/<%= @buyer_activity.id %>" method="post" enctype="multipart/form-data">

  <div class="form-row">

    <div class="form-group offset-lg-2 col-lg-3 mb-0">
      <div class="mb-1 mt-0">
        Activity Type            
      </div>
      <input type="text" id="buyer_activity_type_id" name="buyer_activity_type_id" class="form-control" value="<%= @buyer_activity.buyer_activity_type.title %>" disabled>
    </div>

    <div class="form-group">
      <input type="hidden" name="buyer_activity_type_id" class="form-control" value="<%= @buyer_activity.buyer_activity_type_id %>">
    </div>

    <div class="form-group col-lg-2 mb-0">
      <div class="mb-1">
        Date            
      </div>
      <input type="date" id="date" name="date" class="form-control" value="<%= @buyer_activity.date %>" >
    </div>


    <% if @buyer_activity.buyer_activity_type.duration_toggle == "Show" %>

      <div class="form-group col-lg-3 mb-0">
        <div class="mb-1">
          Duration (minutes)            
        </div>
        <input type="text" id="duration" name="duration" class="form-control" value="<%= @buyer_activity.duration %>">
      </div>

    <% else %>
    <% end %>

  </div>


  <% if @buyer_activity.buyer_activity_type.subject_toggle == "Show" %>
    <div class="form-row">

      <div class="form-group col-lg-4 offset-lg-2 mb-1">
        Subject
        <input type="text" id="subject" name="subject" class="form-control" value="<%= @buyer_activity.subject %>" >
      </div>

    </div>

  <% else %>
  <% end %>


  <% if @buyer_activity.buyer_activity_type.agent_toggle == "Show" %>
    <div class="form-row">
      <div class="form-group col-lg-4 offset-lg-2">
        <label for="agent">
          Agent            
        </label>
        <input type="text" id="agent" name="agent" class="form-control" value="<%= @buyer_activity.agent %>" >
      </div>
    </div>
  <% else %>
  <% end %>


  <% if @buyer_activity.buyer_activity_type.property_address_toggle == "Show" %>
    <div class="form-row">
      <div class="form-group col-lg-5 offset-lg-2 mb-0">
        <div class="mb-1">
          Property Address            
        </div>
        <input type="text" id="property_address" name="property_address" class="form-control" value="<%= @buyer_activity.property_address %>" >
      </div>

      <div class="form-group col-lg-3 mb-0">
        <div class="mb-1">
          City            
        </div>
        <input type="text" id="city" name="city" class="form-control" value="<%= @buyer_activity.city %>" >
      </div>

    </div>


    <div class="form-row">
      <div class="form-group offset-lg-2 col-lg-4 mb-0">
        <div class="mb-1">
          State            
        </div>
        <input type="text" id="state" name="state" class="form-control" value="<%= @buyer_activity.state %>" >
      </div>

      <div class="form-group col-lg-2 mb-0">
        <div class="mb-1">
          Zipcode            
        </div>
        <input type="text" id="zipcode" name="zipcode" class="form-control" value="<%= @buyer_activity.zipcode %>" >
      </div>
    </div>


  <% else %>
  <% end %>


  <% if @buyer_activity.buyer_activity_type.comment_toggle == "Show" %>

    <div class="form-row">
      <div class="form-group offset-lg-2 col-lg-8 mb-0">
        <label for="comment">
          Comments            
        </label>
        <textarea id="comment" name="comment" class="form-control" rows="3" value="<%= @buyer_activity.comment %>"> <%= @buyer_activity.comment %> </textarea>
      </div>
    </div>

  <% else %>
  <% end %>


  <% if @buyer_activity.buyer_activity_type.detail_toggle == "Show" %>
    <div class="form-row">
      <div class="form-group offset-lg-2 col-lg-8 mt-1 mb-1">
        Detail            
        <textarea id="detail" name="detail" class="form-control" rows="3"><%= @buyer_activity.detail %></textarea>
      </div>
    </div>

  <% else %>
  <% end %>

  <div class="form-group">
    <input type="hidden" name="buyer_id" class="form-control" value="<%= @buyer_activity.buyer_id %>">
  </div>

  <hr>
  <div class="row">
    <div class="col-lg-8 offset-lg-2">

      <button class="btn btn-block btn-outline-secondary">
        Save activity
      </button>
    </div>
  </div>
</form>