<% if can? :manage, @buyer %>
<div class="row">
  <div class="col-lg-4 offset-lg-3 col-7">
    <h4 class="text-uppercase text-secondary">
      Activity Details
    </h4>
  </div>

        <div class="col-lg-2 col-5">
        <a href="/buyer_activities/<%= @buyer_activity.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit activity
        </a>
      </div>
</div>

<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <hr>
  </div>
</div>

  <div class="row mb-2">
    <div class="col-lg-4 offset-lg-3 mb-2">
      <label for="buyer_activity_type_id">
        Activity Type
      </label>
      <input type="text" id="buyer_activity_type_id" name="buyer_activity_type_id" class="form-control" value="<%= @buyer_activity.buyer_activity_type.title %>" disabled>
    </div>

    <div class="form-group">
      <input type="hidden" name="activity_type_id" class="form-control" value="<%= @buyer_activity.buyer_activity_type_id %>">
    </div>

    <div class="col-lg-2 mb-2">
      <label for="date">
        Date
      </label>
      <input type="date" id="date" name="date" class="form-control" value="<%= @buyer_activity.date %>" disabled>
    </div>

  </div>

    <div class="form-group">
      <input type="hidden" name="buyer_activity_type_id" class="form-control" value="<%= @buyer_activity.buyer_activity_type_id %>" disabled>
    </div>

     <div class="row mb-2">

      <div class="col-lg-4 offset-lg-3 mb-2">
        <label for="agent">
          Contact
        </label>
        <input type="text" id="agent" name="agent" class="form-control" value="<%= @buyer_activity.agent %>" disabled>
      </div>

    <div class="col-lg-2 mb-0">
      <label for="duration">
        Time (minutes)
      </label>
      <input type="number" pattern="\d*"/ id="duration" name="duration" class="form-control" value="<%= @buyer_activity.duration %>" disabled>
    </div>

  </div>

      <div class="row">
      <div class="offset-lg-3 col-lg-6 mb-3">
        <div class="mb-2">Subject/Detail</div>
        <textarea id="detail" name="detail" class="form-control mt-2" rows="3" disabled><%= @buyer_activity.detail %></textarea>
      </div>
    </div>

  <div id="accordion" class="col-lg-6 offset-lg-3 px-1">
    <div class="card">
      <div class="card-header" id="headingTwo">

            <h5 class="font-weight-light mb-0"> Property</h5>

      </div>

      <div class="card-body">
        <div class="row mb-2">
          <div class="col-lg-12">
          <label class="mb-1">
          Street Address
          </label>
        <input type="text" id="property_address" name="property_address" class="form-control" value="<%= @buyer_activity.property_address %>" disabled>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 mb-0">
        <div class="mb-1">
          City
        </div>
        <input type="text" id="city" name="city" class="form-control mb-2" value="<%= @buyer_activity.city %>" disabled>
      </div>

      <div class="form-group col-lg-2 col-4">
        <div class="mb-1">
          State
        </div>
        <input type="text" id="state" name="state" class="form-control" value="<%= @buyer_activity.state %>" disabled>
      </div>

      <div class="form-group col-lg-4 col-8">
        <div class="mb-1">
          Zipcode
        </div>
        <input type="text" id="zipcode" name="zipcode" class="form-control" value="<%= @buyer_activity.zipcode %>" disabled>
      </div>
    </div>

      </div>

  </div>
  </div>

  <div class="form-group">
    <input type="hidden" name="buyer_id" class="form-control" value="<%= @buyer_activity.buyer_id %>">
  </div>

<div class="row mb-3">
  <div class="col-lg-8 offset-lg-2">
    <div class="row">



    </div>

  </div>
</div>
<% end %>
