<div class="alert alert-danger alert-dismissable show-exceed-size-msg" role="alert">
  This file exceeds the maximum allowed file size (20 MB)
  <button type="button" class="close remove-loader" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="row mb-0">
  <div class="col-lg-6 offset-lg-3">
    <h5 class="text-info text-left text-uppercase mb-0">
      New Attachment
    </h5>
    <hr>
  </div>
</div>

<%=form_for(@property_attachment, url: create_property_attachment_path(@property_attachment), enctype: "multipart/form-data") do |f| %>
  <div class="form-group">
      <%= f.hidden_field :property_id, class: "form-control", value: @property_id %>
  </div>
  <div class="form-group">
      <%= f.hidden_field :user_id, class: "form-control", value: current_user.id %>
  </div>
  <div class="form-group">
      <%= f.hidden_field :activity_id, class: "form-control" %>
  </div>
  <div class="row mb-0">
    <div class="col-lg-6 offset-lg-3 col-12">
      <div class="form-group">
        <label for="title">
          Title
        </label>
        <%= f.text_field :title, :class => "form-control" %>
      </div>
      <div class="form-group">
        <label for="attachment">
          Attachment (jpg, png, bmp, pdf)
        </label>
        <%= f.file_field :attachment, :class => "form-control", accept: "image/*, .pdf", onchange: "validateFiles(this);",
          data: { max_file_size: 20.megabytes } %>
      </div>
      <%= f.submit "Upload Attachment", class: "btn btn-block btn-outline-success" %>
      <hr>
    </div>
  </div>
<% end %>
<div class="row mb-3">
  <div class="col-md-6 offset-md-3">
    <a href="/properties/<%= @property_id %>/attachments" class="btn btn-block btn-outline-secondary">
      Go back
    </a>
  </div>
</div>
<script type="text/javascript">
  $('.show-exceed-size-msg').hide();
  function validateFiles(inputFile) {
  var maxFileSize = $(inputFile).data('max-file-size');
  var sizeExceeded = false;
  $.each(inputFile.files, function() {
    if (this.size && maxFileSize && this.size > parseInt(maxFileSize)) {sizeExceeded=true;};
  });
  if (sizeExceeded) {
    $('.show-exceed-size-msg').show();
    $(inputFile).val('');
  }else{
    $('.show-exceed-size-msg').hide();
  }
}
</script>
