<!-- Validation failure messages -->
<% if @property_attachment.present? %>
  <% if @property_attachment.errors.any? %>
    <% @property_attachment.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<div class="row mb-0">
  <div class="col-lg-6 offset-lg-3">
    <h5 class="text-info text-left text-uppercase mb-0">
      New Attachment
    </h5>
    <hr>
  </div>
</div>


<%=form_for(@property_attachment, url: create_property_attachment_path(@property_attachment), enctype: "multipart/form-data") do |f| %>

  <div class="form-group">
      <%= f.hidden_field :property_id, class: "form-control", value: @property_id %>
  </div>
  <div class="form-group">
      <%= f.hidden_field :user_id, class: "form-control", value: current_user.id %>
  </div>

  <div class="form-group">
      <%= f.hidden_field :activity_id, class: "form-control" %>
  </div>

  <div class="row mb-0">
    <div class="col-lg-6 offset-lg-3 col-12">

      <div class="form-group">
        <label for="title">
          Title
        </label>
        <%= f.text_field :title, :class => "form-control" %>
      </div>

      <!--<div class="form-group">-->
      <!--  <label for="activity_id">-->
      <!--    Activity-->
      <!--  </label>-->
      <!--  <input type="text" id="activity_id" name="activity_id" class="form-control">-->
      <!--</div>-->

      <div class="form-group">
        <label for="attachment">
          Attachment (jpg, png, bmp, pdf)
        </label>
        <%= f.file_field :attachment, :class => "form-control" %>
      </div>


      <!-- <button class="btn btn-block btn-outline-success">
        Upload Attachment
      </button> -->
      <%= f.submit "Upload Attachment", class: "btn btn-block btn-outline-success" %>
      <% end %>

    <hr>

      </div>
</div>

    <div class="row mb-3">
      <div class="col-md-6 offset-md-3">
        <a href="/properties/<%= @property_id %>/attachments" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>
    </div>
