<div class="row mb-0">
  <div class="col-lg-6 offset-lg-3">
    <h5 class="text-info text-left text-uppercase mb-0">
      <%= @property_attachment.title %>
    </h5>
    <hr>
  </div>
</div>

<% len = @property_attachment.attachment.to_s.length %>

<div class="row mb-3">
  <div class="col-lg-6 offset-lg-3">
    
  <% if @property_attachment.attachment.blank? %>
        <a href="/property_attachments/<%= @property_attachment.id %>/edit">click to add</a>
      
      <% elsif @property_attachment.attachment.to_s.slice(len-3..len) == "pdf" %>
      
      <% (1..@property_attachment.pages).each do |i| %>
  
      <div class="card pr-3 pl-3 pt-3 pb-3 mb-3 border-light" style="background-color: #F0F0F0">
        <%=  cl_image_tag(@property_attachment.attachment.full_public_id + "." + "jpg", :page => i, :class => "img-fluid") %>
        </div>
      <% end %>

      <% else %>
            <div class="card pr-3 pl-3 pt-3 pb-3 mb-3 border-light" style="background-color: #F0F0F0">
        <img src="<%= @property_attachment.attachment %>" class="img-fluid" alt="...">
        </div>
      <% end %>

  </div>
</div>

<div class="row mb-3">
  <div class="col-md-6 offset-md-3">
    <a href="/property_attachments/<%= @property_attachment.id %>/edit" class="btn btn-block btn-outline-secondary">
      Edit Attachment
    </a>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-6 offset-md-3">
    <a href="/delete_property_attachment/<%= @property_attachment.id %>" data-confirm="Delete: Are you sure?" class="btn btn-block btn-outline-danger">
      Delete Attachment
    </a>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-6 offset-md-3">
    <a href="/properties/<%= @property_attachment.property_id %>/attachments" class="btn btn-block btn-outline-secondary">
      Go back
    </a>
  </div>
</div>
