<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Reply #<%= @reply.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/replies" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/replies/<%= @reply.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit reply
        </a>
      </div>

      <div class="col">
        <a href="/delete_reply/<%= @reply.id %>" class="btn btn-block btn-outline-secondary">
          Delete reply
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Comment
      </dt>
      <dd>
        <%= @reply.comment_id %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @reply.user_id %>
      </dd>

      <dt>
        Body
      </dt>
      <dd>
        <%= @reply.body %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@reply.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@reply.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

