<% if can? :manage, @property %>
<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <h4 class="text-secondary text-uppercase">
      Edit Property
      <hr>
    </h4>
  </div>
</div>



<%=form_for(@property, url: {action: "update_row", id_to_modify: @property.id}, method: :post) do |f| %>
 <%= f.hidden_field :status, class: "form-control", value: "Active" %>

  <div class="row">
    <div class="col-lg-6 offset-lg-3">

      <div class="form-group">
        <label for="address">
          Street Address
        </label>
        <%= f.text_field :address, :class => "form-control" %>
      </div>

      <div class="row">

        <div class="col-lg-6">
          <div class="form-group">
            <label for="City">
              City
            </label>
            <%= f.text_field :city, :class => "form-control" %>
          </div>
        </div>

        <div class="col-lg-2">
          <div class="form-group">
            <label for="State">
              State
            </label>
            <%= f.text_field :state, :class => "form-control" %>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="form-group">
            <label for="zipcode">
              Zipcode
            </label>
            <%= f.text_field :zipcode, :class => "form-control" %>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 offset-lg-3">
      <div class="form-group">
        <label for="listing_type">
          Listing
        </label>
        <%= select_tag(:listing_type, options_for_select(["For Sale", "For Rent"], @property.listing_type), :class => "form-control") %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.hidden_field :realtor_id, class: "form-control", value: current_user.id %>
  </div>

  <div class="row mb-5">
    <div class="col-lg-6 offset-lg-3">

      <%= f.submit "Save Changes", class: "btn btn-block btn-outline-success" %>
      <!-- <button class="btn btn-block btn-outline-success">
        Save Changes
      </button> -->
  <% end%>
  </div>
</div>

<% if @property.activities.count == 0 %>

  <div class="row mb-3">
    <div class="col-lg-6 offset-lg-3">
      <a href="/delete_property/<%= @property.id %>" class="btn btn-block btn-outline-danger">
        Delete Property
      </a>
    </div>
  </div>

<% else %>

  <div class="row mb-3">
    <div class="col-lg-3 offset-lg-3">
      <a href="/delete_property/<%= @property.id %>" class="btn disabled btn-block btn-outline-secondary mb-2">
        Delete Property
      </a>
    </div>

    <div class="col-lg-3">
      <p class="text-secondary text-center">
        You can only delete a property that does not contain any activities.
      </p>
    </div>
  </div>

<% end %>

<div class="row mb-3">
  <div class="col-lg-6 offset-lg-3">
    <hr>
  </div>
</div>

<% if @property.status == "Active" or @property.status == "" %>

<div class="row mb-3">
  <div class="col-lg-3 offset-lg-3">
    <form action="/add_property_to_archive/<%= @property.id %>" method="post">
      <div class="form-group">
        <input type="hidden" name="status" class="form-control" value="Archive">
        <input type="hidden" name="realtor_id" class="form-control" value="<%= @property.realtor_id %>">
        <input type="hidden" name="city" class="form-control" value="<%= @property.city %>">
        <input type="hidden" name="state" class="form-control" value="<%= @property.state %>">
        <input type="hidden" name="zipcode" class="form-control" value="<%= @property.zipcode %>">
        <input type="hidden" name="address" class="form-control" value="<%= @property.address %>">
        <input type="hidden" name="listing_type" class="form-control" value="<%= @property.listing_type %>">
      </div>
      <button class="btn btn-block btn-outline-warning">
        Archive Property
      </button>
    </form>
  </div>

  <div class="col-lg-3">
    <p class="text-secondary text-center">
      Archived Properties will be saved on the <a href="/archive"> Archive </a> page for future reference.
      All activity information will be saved with the property.
    </p>
  </div>
</div>

<% else %>

<div class="row mb-3">
  <div class="col-lg-3 offset-lg-3">
    <form action="/restore_property_from_archive/<%= @property.id %>" method="post">
      <div class="form-group">
        <input type="hidden" name="status" class="form-control" value="Active">
        <input type="hidden" name="realtor_id" class="form-control" value="<%= @property.realtor_id %>">
        <input type="hidden" name="city" class="form-control" value="<%= @property.city %>">
        <input type="hidden" name="state" class="form-control" value="<%= @property.state %>">
        <input type="hidden" name="zipcode" class="form-control" value="<%= @property.zipcode %>">
        <input type="hidden" name="address" class="form-control" value="<%= @property.address %>">
        <input type="hidden" name="listing_type" class="form-control" value="<%= @property.listing_type %>">
      </div>
      <button class="btn btn-block btn-outline-success">
        Restore Property
      </button>
    </form>
  </div>

  <div class="col-lg-3">
    <p class="text-secondary text-center">
      Restored Properties will be moved out of the archive and back to your active properties.
    </p>
  </div>
</div>

<% end %>




<div class="row mb-3">
  <div class="col-lg-6 offset-lg-3">
    <hr>

    <a href="/all_properties" class="btn btn-block btn-outline-secondary">
      Go back
    </a>

  </div>
</div>
<% end %>
