<div class="row mb-0">
  <div class="col-lg-5 offset-lg-2 col-9">
    <h5 class="text-info text-left text-uppercase mb-0">
      <%= @property.address %>
    </h5>
    <p class="text-secondary mt-0 pb-0"><small><%= @property.city + ", " + @property.state + " " + @property.zipcode %></small></p>
  </div>
</div>


<div class="row mb-0">

  <div class="col-lg-4 offset-md-2 col-6">
    <h5 class="text-dark font-weight-light text-left pt-2"> Attachments
    </h5>
  </div>

  <div class="col-lg-4 col-6">
    <a href="/property_attachments/new/<%= @property.id %>" class="btn btn-block btn-outline-info">
      Add Attachment
    </a>
  </div>
</div>

<div class="row mb-0">
  <div class=" offset-md-2 col-lg-8">
    <hr>
  </div>
</div>


<% @property.property_attachments.each do |attachment| %>
  <div class="row mb-0">

    <div class=" offset-md-2 col-lg-4 col-7 my-auto">
      <p class="text-center"><%= attachment.title %></p>
    </div>
    
    <% len = attachment.attachment.to_s.length %>
    <div class="col-lg-2 col-5">
      <div class="text-center">
        <% if attachment.attachment.blank? %>
          <a href="/property_attachments/<%= attachment.id %>/edit">click to add</a>
       
        <% elsif attachment.attachment.to_s.slice(len-3..len) == "pdf" %>
          <a href="/property_attachments/<%= attachment.id %>">
            <img src="<%= attachment.attachment.to_s.slice(0..-4) << 'jpg' %>" class="img-fluid" alt="...">
          </a>
        
        <% else %>
          <a href="/property_attachments/<%= attachment.id %>">
            <img src="<%= attachment.attachment %>" class="img-fluid" alt="...">
          </a>
       
        <% end %>
      </div>
    </div>
  </div>
  <div class="row mb-0">
    <div class=" offset-md-2 col-lg-8">
      <hr>
    </div>
  </div>
<% end %>
