<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <h4 class="text-info text-uppercase">
      PDf Report for:
    </h4>
      <h4 class="font-weight-light text-center">
        <%= @property.address %>
      </h4>
    <hr>
  </div>
</div>

<form action="/properties/<%=@property.id%>/report.pdf" method="post" class="remember">

  <div class="row">
    <div class="col-lg-3 offset-lg-3">
      <h5 class="font-weight-light mb-3">
        Date Range:
      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 offset-lg-3 col-6">

      <div class="form-group">
        <label for="start_date">
          Start Date*
        </label>
        <input class="form-control" type="date" id="start_date" name="start_date" value="<%= @property.activities.order(date: :asc).first.date.strftime('%Y-%m-%d') %>">
      </div>
    </div>

    <div class="col-lg-3 col-6">
      <div class="form-group">
        <label for="end_date">
          End Date*
        </label>
        <input class="form-control" type="date" id="end_date" name="end_date" value="<%=  @property.activities.order(date: :asc).last.date.strftime('%Y-%m-%d') %>">
      </div>
    </div>

    <div class="col-lg-6 offset-lg-3">
      <p class="text-secondary text-center">
        *The default dates encompass all activities for this property.
      </p>
    </div>

  </div>

  <div class="row mb-3">
    <div class="col-lg-6 offset-lg-3">

      <h5 class="font-weight-light mb-3 text-center">
        Arrange by:
      </h5>
      <div class="text-center">

        <label class="radio-inline">
          <input type="radio" value="date_asc" name="report_type" id="report_type" class="mr-1" checked>
          <span class="mr-3">Date (asc)</span>
        </label>
        <label class="radio-inline">
          <input type="radio" value="date_desc" name="report_type" id="report_type" class="mr-1">
          <span class="mr-3">Date (desc)</span>
        </label>
        <label class="radio-inline">
          <input type="radio" value="activity_type" name="report_type" id="report_type" class="mr-1">
          <span class="mr-3">Activity Type</span>
        </label>
        <label class="radio-inline" data-toggle="tooltip" title="Order can be customized using sort button found in activity list">
          <input type="radio" value="custom" name="report_type" id="report_type" class="mr-1">
          <span class="mr-3">Custom</span>
        </label>
      </div>
      <hr>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-lg-6 offset-lg-3">
      <h5 class="font-weight-light mb-3 text-center">
        <i class="icon-info mr-1 fas fa-info-circle" data-toggle="tooltip" title="This will add the summary table to the report showing number of showings, offers and contracts"></i>
        Include Summary Table:
      </h5>
      <div class="text-center">
        <label class="radio-inline">
          <input type="radio" value="yes" name="property_summary_table" id="property_summary_table" class="mr-1">
          <span class="mr-3">Yes</span>
        </label>
        <label class="radio-inline">
          <input type="radio" value="no" name="property_summary_table" id="property_summary_table" class="mr-1" checked>
          <span class="mr-3">No</span>
        </label>
      </div>
      <div class="card card-body summary-bx border-0">
          <%#= form_with(model: @property, url: properties_summary_path, remote: true, method: :post) do |f| %>
          <%#= f.hidden_field :id %>
            <div class="ps-lists d-flex flex-wrap justify-content-center">
              <div class="form-group">
                <label><span>1<sup>st</sup><i class=" icon-info ml-1 fas fa-info-circle" data-toggle="tooltip" title="Number of first showings"></i><small>Showings</small></span></label>
                <%#= f.number_field :showing_number_1, min: 0, disabled: false, class: 'summary-number-field form-control' %>
                <input type="number" id="showing_number_1"  min=0 name="showing_number_1" class="summary-number-field form-control" value="<%= @property.showing_number_1 %>">
              </div>
              <div class="form-group">
                <label ><span>2<sup>nd</sup><i class=" icon-info ml-1 fas fa-info-circle" data-toggle="tooltip" title="Number of second showings"></i><small>Showings</small></span></label>
                <%#= f.number_field :showing_number_2, min: 0, disabled: false, class: 'summary-number-field form-control' %>
                <input type="number" id="showing_number_2" min=0 name="showing_number_2" class="summary-number-field form-control" value="<%= @property.showing_number_2 %>">
              </div>
              <div class="form-group">
                <label ><span>3<sup>rd</sup><i class=" icon-info ml-1 fas fa-info-circle" data-toggle="tooltip" title="Number of third showings"></i><small>Showings</small></span></label>
                <%#= f.number_field :showing_number_3, min: 0, disabled: false, class: 'summary-number-field form-control' %>
                <input type="number" id="showing_number_3" min=0 name="showing_number_3" class="summary-number-field form-control" value="<%= @property.showing_number_3 %>">
              </div>
              <div class="form-group">
                <label ><span>Offers</span></label>
                <%#= f.number_field :offer, min: 0, disabled: false, class: 'summary-number-field form-control' %>
                <input type="number" id="offer" name="offer" min=0 class="summary-number-field form-control" value="<%= @property.offer %>">
              </div>
              <div class="form-group">
                <label ><span>Contracts</span></label>
                <%#= f.number_field :contract, min: 0, disabled: false, class: 'summary-number-field form-control' %>
                <input type="number" id="contract" name="contract" min=0 class="summary-number-field form-control" value="<%= @property.contract %>">
              </div>

            </div>
          <%# end %>
      </div>
      <hr>
    </div>
  </div>


  <div class="row mb-3">
    <div class="col-lg-6 offset-lg-3">

      <h5 class="font-weight-light mb-3 text-center">
        Columns to Include:
      </h5>
      <div class="text-center">

        <label class="checkbox-inline">
          <input type="checkbox" value="on" name="subject" id="subject" class="mr-1" checked>
          <span class="mr-3">Subject</span>
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" value="on" name="contact" id="contact" class="mr-1" checked>
          <span class="mr-3">Contact</span>
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" value="on" name="duration" id="duration" class="mr-1" checked>
          <span class="mr-3">Duration</span>
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" value="on" name="cost" id="cost" class="mr-1" unchecked>
          <span class="">Cost</span>
        </label>
      </div>
<hr>
    </div>
  </div>

    <div class="row mb-3">
    <div class="col-lg-6 offset-lg-3">
      <h5 class="font-weight-light mb-3 text-center">
        Include Attachments:
      </h5>
      <div class="text-center">
        <label class="radio-inline">
          <input type="radio" value="yes" name="attachment_toggle" id="attachment_toggle" class="mr-1" checked>
          <span class="mr-3">Yes</span>
        </label>
        <label class="radio-inline">
          <input type="radio" value="no" name="attachment_toggle" id="attachment_toggle" class="mr-1">
          <span class="mr-3">No</span>
        </label>
      </div>
        <hr>
     </div>
    </div>

    <div class="row mb-3">
    <div class="col-lg-6 offset-lg-3">
      <h5 class="font-weight-light mb-3 text-center">
        Include Total Hours:
      </h5>
      <div class="text-center">
        <label class="radio-inline">
          <input type="radio" value="yes" name="total_toggle" id="total_toggle" class="mr-1">
          <span class="mr-3">Yes</span>
        </label>
        <label class="radio-inline">
          <input type="radio" value="no" name="total_toggle" id="total_toggle" class="mr-1" checked>
          <span class="mr-3">No</span>
        </label>
      </div>
        <hr>
     </div>
    </div>

    <div class="row mb-3">
    <div class="col-lg-6 offset-lg-3">
      <h5 class="font-weight-light mb-3 text-center">
        Acitivity Summary Chart:
      </h5>
      <div class="text-center">
        <label class="radio-inline">
          <input type="radio" value="yes" name="chart_toggle" id="chart_toggle" class="mr-1">
          <span class="mr-3">Yes</span>
        </label>
        <label class="radio-inline">
          <input type="radio" value="no" name="chart_toggle" id="chart_toggle" class="mr-1" checked>
          <span class="mr-3">No</span>
        </label>
      </div>

        <hr>
     </div>
    </div>

    <% unless current_user.headshot.file.nil? %>
      <% if HeadshotCoordinate.find_by(user_headshot_id: current_user.id).present? %>
        <% url =  Cloudinary::Utils.cloudinary_url(current_user.headshot.file.filename,:x=>HeadshotCoordinate.find_by(user_headshot_id: current_user.id).crop_x, :y=>HeadshotCoordinate.find_by(user_headshot_id: current_user.id).crop_y, :width=>HeadshotCoordinate.find_by(user_headshot_id: current_user.id).crop_w, :height=>HeadshotCoordinate.find_by(user_headshot_id: current_user.id).crop_h, :crop=>"crop", version: current_user.headshot.file.version, secure: true) %>
      <% else %>
        <% url = Cloudinary::Utils.cloudinary_url(current_user.headshot.file.filename, version: current_user.headshot.file.version, secure: true) %>
      <% end %>
      <input id="profile_url" name="profile_url" type="hidden" value = "<%= url %>" />
    <% end %>
  <div class="col-lg-6 offset-lg-3 mb-3">
    <button class="btn btn-lg btn-block btn-outline-success">
      Generate PDF Report
    </button>
  </div>


</form>
<script>
  $('[data-toggle="tooltip"]').tooltip();
  $(document).on('submit','form.remember',function(){
    setTimeout(function(){
    $('#loader-div').hide();
  }, 3000);
});
</script>
