<div class="row mb-3">
  <div class="col-md-10 offset-md-1">
    <h4 class="text-secondary text-uppercase">
      <%= @property.address %>
    </h4>
  </div>

  <div class="col-md-2">
    <a href="../properties/<%=@property.id%>/report.pdf" class="btn btn-block btn-outline-secondary">
      Generate PDF
    </a>
  </div>

</div>

<div class="row mb-3">
</div>

<div class="row mb-3">
  <div class="col-md-10 offset-md-1">
    <h4>Calls
    <% @call_type %>
    </h4>
    <div class="list-group">
      <% @property.activities.where(activity_type: @call_type.id).each do |activity| %>

        <a href="../activities/<%= activity.id %>/" class="list-group-item list-group-item-action">
          <div class="row">

            <div class="col-lg-1 text-left">
              <%= activity.date.strftime("%b %d")  %>
            </div>

            <div class="col text-center">
              <%= activity.contact  %>
            </div>

            <div class="col text-center">
              <%= activity.detail  %>
            </div>

            <div class="col text-center">
              <%= activity.duration  %>
            </div>

          </div>
        </a>


      <% end  %>
    </div>


  </div>
</div>


<div class="row mb-3">
  <div class="col-md-8 offset-md-2">

    <div class="row mb-3">
      <div class="col">
        <a href="/properties/<%= @property.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit Property
        </a>
        <a href="/properties" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>
    </div>

  </div>
</div>
