<div class="row mb-0">
  <div class="col-lg-5 offset-lg-2 col-9">
    <h5 class="text-info text-left text-uppercase mb-0">
      <%= @property.address %>
    </h5>
    <p class="text-secondary mt-0 pb-0"><small><%= @property.city + ", " + @property.state + " " + @property.zipcode %></small></p>
  </div>
  <div class="col-lg-3 col-3">
    <p class="text-dark text-center font-weight-bold mb-0">
      <% if  @property.prices.count == 0 %>
        <a href="/prices/new/<%= @property.id %>">add price</a>
      <% else %>
        <%= number_to_currency(@property.prices.order(date: :desc).first.amount, precision: 0) %>
      <% end %>
    </p>
    <p class="text-secondary text-center pt-0 pb-0"> <small>
        <a href="/properties/prices/<%= @property.id %>">
          view/change</a>
      </small></p>
  </div>
</div>

<div class="row mb-0">
  <div class="col-lg-8 offset-lg-2">
    <a class="btn btn-outline-info pt-0 pb-1 pr-2 pl-2" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      <span><small> more options...</small></span>
    </a>

    <div class="collapse" id="collapseExample">
      <div class="card card-body border-white">
        <div class="row mb-4">
          <div class="col-lg-4 offset-lg-2 col-6">
            <a class="btn btn-outline-info btn-block text-center custom-info-button" href="../report_type/<%=@property.id%>">
              <i class="far fa-file-alt fa-2x my-2"></i>
              <h5 class="font-weight-light">Reports</h5>
            </a>
          </div>

          <div class="col-lg-4 col-6">
            <a class="btn btn-outline-info btn-block text-center custom-info-button" href="/properties/<%= @property.id %>/attachments">
              <i class="far fa-images fa-2x my-2"></i>
              <h5 class="font-weight-light">Attachments</h5>
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-8 offset-lg-2 col-12">
            <a href="/properties/<%= @property.id %>/edit" class="btn btn-block btn-outline-info">
              Edit Property
            </a>
          </div>
        </div>

      </div>
    </div>


    <hr>
  </div>
</div>

<div class="row mb-3">
  <div class="col-lg-4 offset-md-2 col-6">
    <h5 class="text-secondary font-weight-light text-left pt-2">Activity Log </h5>
  </div>
  <div class="col-lg-4 col-6 text-center">
    <a href="/activities/new/<%= @property.id %>" class="btn btn-block btn-outline-info">
      Add Activity
    </a>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">

    <div class="list-group">
      <% @property.activities.order(date: :desc).each do |activity| %>

        <a href="../activities/<%= activity.id %>/" class="list-group-item list-group-item-action">
          <div class="row">
            <div class="col text-center">
              <%= activity.activity_type.title %>
            </div>
            <div class="col text-center">

              <% if activity.activity_type.subject_toggle == "Show" %>
                <%= activity.subject %>
              <% else %>
                <%= activity.detail %>
              <% end %>

            </div>
            <div class="col text-center">
              <%= activity.date.strftime("%b %d")  %>
            </div>

          </div>
        </a>


      <% end  %>
    </div>


  </div>
</div>


<div class="row mb-3">
  <div class="col-md-8 offset-md-2">

  </div>
</div>

<div style="display: none;">
  The page shows all the activities related to a particular property. 
  From here you are able to add new activities, add attachments, edit the property,
  and create reports for your listing.
</div>
