<% if can? :manage, @property %>

<div class="alert alert-success alert-dismissable show-activity-order-msg" role="alert">
  Custom order of activities saved successfully.
  <button type="button" class="close remove-loader" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="row mb-0">
  <div class="col-lg-5 offset-lg-2 col-9">
    <h5 class="text-info text-left text-uppercase mb-0">
      <%= @property.address %>
    </h5>
    <p class="text-secondary mt-0 mb-2 pb-0"><small><%= @property.city + ", " + @property.state + " " + @property.zipcode %></small></p>
  </div>
  <div class="col-lg-3 col-3">
    <p class="text-dark text-center font-weight-bold mb-0">
      <% if  @property.prices.count == 0 %>
        <a href="/prices/new/<%= @property.id %>">add price</a>
      <% else %>
        <%= number_to_currency(@property.prices.order(date: :desc).first.amount, precision: 0) %>
      <% end %>
    </p>
    <p class="text-secondary text-center mb-2 pt-0 pb-0"> <small>
        <a href="/properties/prices/<%= @property.id %>">
          view/change</a>
      </small></p>
  </div>
</div>

<div class="row mb-0">
  <div class="col-lg-8 offset-lg-2">
    <a data-toggle="collapse" class="icon-more remove-loader" href="#collapseExample" role="button">
      <i class="fas fa-ellipsis-h"  data-toggle="tooltip" title="More Options"></i>
    </a>

    <div class="collapse" id="collapseExample">
      <div class="card card-body border-white">
        <div class="row mb-4">
          <div class="col-lg-4 offset-lg-2 col-6">
            <a class="btn btn-outline-info btn-block text-center custom-info-button" href="../report_type/<%=@property.id%>">
              <i class="far fa-file-alt fa-2x my-2"></i>
              <h5 class="font-weight-light">Reports</h5>
            </a>
          </div>

          <div class="col-lg-4 col-6">
            <a class="btn btn-outline-info btn-block text-center custom-info-button" href="/properties/<%= @property.id %>/attachments">
              <i class="far fa-images fa-2x my-2"></i>
              <h5 class="font-weight-light">Attachments</h5>
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-8 offset-lg-2 col-12">
            <a href="/properties/<%= @property.id %>/edit" class="btn btn-block btn-outline-info">
              Edit Property
            </a>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>
 <div class="row mb-0 change-rowSize">
  <div class="col-md-8 offset-md-2 for-uper-section">
    <div class="filter-bx d-flex flex-wrap mb-4">
      <h4 class="my-auto">Activity Log</h4>
      <div class="master-icon" id="show_sort_option" data-toggle="modal" data-target="#myModal">
        <img src="/logos/master_icon.png" />
      </div>
      <a class="ml-auto text-center icon-add text-info my-auto custom-plus-icon plus-icon" href="/activities/new/<%= @property.id %>" data-toggle="tooltip" title="Add a new activity">
        <i>+</i>
      </a>
      <a class="ml-auto text-center icon-add text-info my-auto custom-plus-image plus-icon" href="/activities/new/<%= @property.id %>" data-toggle="tooltip" title="Add a new activity">
        <img src="/logos/pluse_icon.png" alt=""/>
      </a>
      <button class="ml-auto btn text-uppercase remove-loader sort-btn">
        Save
      </button>
    </div>
  </div>
</div>

<div id="order_manage">
  <% if current_user.activiy_order == "custom" %>
    <%= render partial: 'property_templates/properties_activity', locals: {activities: @property.activities.order(:sort)} %>
  <% elsif current_user.activiy_order == "desc" %>
    <%= render partial: 'property_templates/properties_activity', locals: {activities: @property.activities.order(date: :desc)} %>
  <% else %>
    <%= render partial: 'property_templates/properties_activity', locals: {activities: @property.activities.order(date: :asc)} %>
  <% end %>

</div>

<% end %>
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Select any one option</h4>
        <button type="button" class="close remove-loader" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <label class="radio-inline mr-3"><input id="asc" type="radio" name="optradio" class="mr-1" <% if current_user.activiy_order == "asc" %>  checked <% end %> >Ascending</label>
        <label class="radio-inline mr-3"><input id="desc" type="radio" name="optradio" class="mr-1"<% if current_user.activiy_order == "desc" %>  checked <% end %>>Descending</label>
        <label class="radio-inline mr-3"><input id="custom"type="radio" name="optradio" class="mr-1" <% if current_user.activiy_order == "custom" %>  checked <% end %>>Custom</label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn custom-info-button remove-loader close_btn" data-dismiss="modal">Select</button>
      </div>

    </div>
  </div>
</div>
<script>
    $('.show-activity-order-msg').hide();
    $('[data-toggle="tooltip"]').tooltip();
    $('.master-icon-edit').hide();
    $('.sort-btn').hide();
    $('.close_btn').click(function(){
      if($('#asc').is(":checked")) {
        $('#order_manage').empty();
        $("#order_manage").append("<%= j render partial: 'property_templates/properties_activity', locals: {activities: @property.activities.order(date: :asc)} %>");
        $('.master-icon-edit').hide();
        $.ajax({
          url: "/set_defalt_sort_for_activity",
          data: {
            sort_order: "asc"
          }
        });
        for_collapse();
      }
      if($('#desc').is(":checked")) {
        $('#order_manage').empty();
        $("#order_manage").append("<%= j render partial: 'property_templates/properties_activity', locals: {activities: @property.activities.order(date: :desc)} %>");
        $('.master-icon-edit').hide();
        $.ajax({
          url: "/set_defalt_sort_for_activity",
          data: {
            sort_order: "desc"
          }
        });
        for_collapse();
      }
      if($('#custom').is(":checked")) {
        $('#order_manage').empty();
        $.ajax({
          url: "/sort_custom_activity",
          data: {
            keyword: "<%= @property.id %>",
            sort_order: "custom"
          }
        });

        $('.change-rowSize').addClass('alter-row-margin');
        $('body').addClass('body-bg');
        $('nav').removeClass('bg-white');
        for_collapse();
      }
    })
    $('.sort-btn').click(function(){
      console.log("sort-btnt clickrs")
      if( response_ary != null ){
        var merged = []
        for (i = 0; i < sortable_activity_array.length; i++) {
          merged.push([sortable_activity_array[i], response_ary[i]]);
        }
        $.ajax({
          url: "/sort_properties_activity",
          data: {
            keyword: merged,
            property_id: "<%= @property.id %>"
          }
        });
        $('.check-for-exist').hide();
        $('.show-activity-order-msg').show();
      }
      $(this).hide();
      $('.plus-icon').show();
      $('#show_sort_option').show();
      $('.activity_edit').show();
      $('.master-icon-edit').hide();
      $('body').removeClass('body-bg');
      $('nav').addClass('bg-white');
      $('.change-rowSize').removeClass('alter-row-margin');
      $(".sortable").sortable("disable");
      $(".accordion-bx").attr("id","accordion")
    })
    for_collapse();

    function for_collapse() {
      $(".collapse.in").each(function(){
        $(this).siblings(".card-heading").find(".icon-arrow").addClass("rotate");
      });

      // Toggle plus minus icon on show hide of collapse element
      $(".collapse").on('show.bs.collapse', function(){
        $(".collapse").parent().find(".rotate").removeClass("rotate");
        $(".collapse").removeClass("show");
        $(".collapse").siblings().children('p').show();
        $(this).siblings().children('p').hide();
        $(this).parent().find(".icon-arrow").addClass("rotate");
      }).on('hide.bs.collapse', function(){
        $(this).parent().find(".icon-arrow").removeClass("rotate");
        $(this).siblings().children('p').show();
      });
    }
</script>
