<!DOCTYPE html>
<html>
  <head>
    <title>Track Your Listing</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Connect Font Awesome CSS -->
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.2/css/all.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Krub|Nunito" rel="stylesheet">

    <!-- Connect Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

    <!-- Connect Bootstrap JavaScript and its dependencies -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>


    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= render 'application/favicon' %>
  </head>

  <body class="pb-5">
    <%= render "shared/navbar" %>

    <div class="container">
      <%= render "shared/flashes" %>

      <%= yield %>
    </div>

    <div class="container">
      <div class="col-lg-6 offset-lg-3 col-12 pl-1 pr-1">

      </div>
    </div>

    <%= render "shared/footer" %>
    <%= dev_tools if Rails.env.development? %>

  </body>
</html>
