<div class="row mb-3">
  <div class= "col-4 offset-2 offset-lg-4 col-lg-2">
    <a class="btn btn-lg btn-block btn-outline-info text-center" href="/users/sign_in" > LOG IN </a>
  </div>

  <div class= "col-4 col-lg-2">
    <a class="btn btn-lg btn-block btn-info text-center" href=#sign_up > SIGN UP</a>
  </div>
</div>

<div class="row mb-3">
  &nbsp;
</div>

<div class="row mb-3">
  <div class="col-md-6 offset-md-3 col-lg-6 offset-lg-3">
    <h4 class="text-center" style="font-family: Montserrat, sans-serif;">
      Track activities, create reports. Show your customers all you do for them! 
    </h4>
  </div>
</div>

<div class="row mb-3">
  <div class="col-4 offset-4 col-lg-4 offset-lg-4">
    <hr style="border: 3px solid #17a2b8">
  </div>
</div>

<div class="row mb-0">
  <div class="col-lg-6 offset-lg-3">

    <div class="jumbotron bg-light pb-3" id="jumbo1">
      <h2 class="text-info">Track Listings</h2>
      <div class="lead mb-0">Make sure your customers know all you do for their properties by 
        keeping track of all activities that go into getting their listing sold.
      </div>

      <div class="row mt-0 mb-3">
        <div class="col-4 offset-8 col-lg-4 offset-lg-8">
          <a class="btn btn-outline-info" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            See more...
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="collapse" id="collapseExample">
            <div class="">

              <p class="text-info"> Choose activities from a preset list that includes:</p>
              <ul class="text-info">
                <li>
                  Showings
                </li>
                <li>
                  Calls
                </li>
                <li>
                  Flyers
                </li>
                <li>
                  Postcards
                </li>
                <li>
                  and more...
                </li>
              </ul>
              <p class="lead">Need another activity category? Create your own.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="row mb-2">
  <div class="col-lg-6 offset-lg-3">
    <div class="jumbotron bg-light">
      <h2 class="text-info">Track Buyers and Tenants</h2>
      <div class="lead mb-2">Keep track of showings, appointments and even customer preferences to better 
        understand their needs and get them in a home faster.
      </div>

      <div class="row mt-0 mb-3">
        <div class="col-4 offset-8 col-lg-4 offset-lg-8">
          <a class="btn btn-outline-info" data-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapse2">
            See more...
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="collapse" id="collapse2">
            <div class="">

              <p class="text-info"> Choose activities from a preset list that includes:</p>
              <ul class="text-info">
                <li>
                  Showings
                </li>
                <li>
                  Property Search
                </li>
                <li>
                  Making Appointments
                </li>
                <li>
                  Offer Paperwork
                </li>
                <li>
                  and more...
                </li>
              </ul>
              <p class="lead">Need another activity category? Create your own.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="row mb-2">
  <div class="col-lg-6 offset-lg-3">
    <div class="jumbotron bg-light">
      <h2 class="text-info">Generate Reports</h2>
      <p class="lead">Generate custom reports for each of your customers. Showing them all the work you do.</p>

      <div class="row mt-0 mb-3">
        <div class="col-4 offset-8 col-lg-4 offset-lg-8">
          <a class="btn btn-outline-info" data-toggle="collapse" href="#collapse3" role="button" aria-expanded="false" aria-controls="collapse3">
            See more...
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="collapse" id="collapse3">
            <div class="">

              <p class="text-info"> Features to come:</p>
              <ul class="text-info">
                <li>
                  Download in spreadsheet form to make your own reports
                </li>
                <li>
                  Detailed map of showed properties
                </li>
                <li>
                  Personalize your report with your headshot
                </li>
                <li>
                  Summary statistics (hours, # of showings, etc)
                </li>

              </ul>
              <p class="lead">Need something more? Send us a message via our feedback page.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="offset-md-3 col-md-6">
    <div class="card mb-3" id="sign_up">

      <h5 class="card-header text-dark">
        Sign Up
        <span><small>
            <a class="" href="/users/sign_in"> (Already a member?) </a></small>
        </span>
      </h5>

      <div class="card-body">
        <% was_validated = resource.errors.any? %>

        <% form_html_options = { novalidate: true, class: "mb-3" } %>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: form_html_options) do |f| %>
          <div class="form-group">
            <% email_was_invalid = resource.errors.include?(:email) %>

            <% email_class = "form-control" %>

            <% if was_validated %>
              <% if email_was_invalid %>
                <% email_class << " is-invalid" %>
              <% else %>
                <% email_class << " is-valid" %>
              <% end %>
            <% end %>

            <%= f.label :email %>

            <%= f.email_field :email, class: email_class, autofocus: false %>

            <% if email_was_invalid %>
              <% resource.errors.full_messages_for(:email).each do |message| %>
                <div class="invalid-feedback d-flex">
                  <%= message %>
                </div>
              <% end %>
            <% end %>
          </div>

          <div class="form-group">
            <% password_was_invalid = resource.errors.include?(:password) %>

            <% password_class = "form-control" %>

            <% if was_validated %>
              <% if password_was_invalid %>
                <% password_class << " is-invalid" %>
              <% else %>
                <% password_class << " is-valid" %>
              <% end %>
            <% end %>

            <%= f.label :password %>

            <%= f.password_field :password, class: password_class %>

            <% if password_was_invalid %>
              <% resource.errors.full_messages_for(:password).each do |message| %>
                <div class="invalid-feedback d-flex">
                  <%= message %>
                </div>
              <% end %>
            <% end %>
          </div>

          <div class="form-group">
            <% password_confirmation_was_invalid = resource.errors.include?(:password_confirmation) %>

            <% password_confirmation_class = "form-control" %>

            <% if was_validated %>
              <% if password_confirmation_was_invalid %>
                <% password_confirmation_class << " is-invalid" %>
              <% else %>
                <% password_confirmation_class << " is-valid" %>
              <% end %>
            <% end %>

            <%= f.label :password_confirmation %>

            <%= f.password_field :password_confirmation, class: password_confirmation_class %>

            <% if password_confirmation_was_invalid %>
              <% resource.errors.full_messages_for(:password_confirmation).each do |message| %>
                <div class="invalid-feedback d-flex">
                  <%= message %>
                </div>
              <% end %>
            <% end %>
          </div>


          <!-- Devise Input for first_name start -->
          <div class="form-group">
            <% first_name_was_invalid = resource.errors.include?(:first_name) %>

            <% first_name_class = "form-control" %>

            <% if was_validated %>
              <% if first_name_was_invalid %>
                <% first_name_class << " is-invalid" %>
              <% else %>
                <% first_name_class << " is-valid" %>
              <% end %>
            <% end %>

            <%= f.label :first_name %>

            <%= f.text_field :first_name, :class => first_name_class, :placeholder => "Enter first name" %>

            <% if first_name_was_invalid %>
              <% resource.errors.full_messages_for(:first_name).each do |message| %>
                <div class="invalid-feedback d-flex">
                  <%= message %>
                </div>
              <% end %>
            <% end %>
          </div>
          <!-- Devise Input for first_name end -->

          <!-- Devise Input for last_name start -->
          <div class="form-group">
            <% last_name_was_invalid = resource.errors.include?(:last_name) %>

            <% last_name_class = "form-control" %>

            <% if was_validated %>
              <% if last_name_was_invalid %>
                <% last_name_class << " is-invalid" %>
              <% else %>
                <% last_name_class << " is-valid" %>
              <% end %>
            <% end %>

            <%= f.label :last_name %>

            <%= f.text_field :last_name, :class => last_name_class, :placeholder => "Enter last name" %>

            <% if last_name_was_invalid %>
              <% resource.errors.full_messages_for(:last_name).each do |message| %>
                <div class="invalid-feedback d-flex">
                  <%= message %>
                </div>
              <% end %>
            <% end %>
          </div>
          <!-- Devise Input for last_name end -->
          <%= f.button class: "btn btn-outline-primary btn-block" %>

          <hr>

          <%= render "users/shared/links" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
